<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" lang="en">

<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--[if mso]>
<xml><w:WordDocument xmlns:w="urn:schemas-microsoft-com:office:word"><w:DontUseAdvancedTypographyReadingMail/></w:WordDocument>
<o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml>
<![endif]--><!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900"
    rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;display=swap" rel="stylesheet"
    type="text/css"><!--<![endif]-->
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: inherit !important;
    }

    #MessageViewBody a {
      color: inherit;
      text-decoration: none;
    }

    p {
      line-height: inherit
    }

    .desktop_hide,
    .desktop_hide table {
      mso-hide: all;
      display: none;
      max-height: 0px;
      overflow: hidden;
    }

    .image_block img+div {
      display: none;
    }

    sup,
    sub {
      font-size: 75%;
      line-height: 0;
    }

    @media (max-width:620px) {

      .desktop_hide table.icons-inner,
      .social_block.desktop_hide .social-table {
        display: inline-block !important;
      }

      .icons-inner {
        text-align: center;
      }

      .icons-inner td {
        margin: 0 auto;
      }

      .mobile_hide {
        display: none;
      }

      .row-content {
        width: 100% !important;
      }

      .stack .column {
        width: 100%;
        display: block;
      }

      .mobile_hide {
        min-height: 0;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        font-size: 0px;
      }

      .desktop_hide,
      .desktop_hide table {
        display: table !important;
        max-height: none !important;
      }

      .row-1 .column-1 .block-1.image_block td.pad,
      .row-1 .column-1 .block-3.paragraph_block td.pad,
      .row-1 .column-1 .block-5.social_block td.pad {
        padding: 10px !important;
      }

      .row-2 .column-2 .block-1.image_block td.pad {
        padding: 0 !important;
      }

      .row-2 .column-1 {
        padding: 30px 10px !important;
      }
    }
  </style>
  <!--[if mso ]><style>sup, sub { font-size: 100% !important; } sup { mso-text-raise:10% } sub { mso-text-raise:-10% }</style> <![endif]-->
</head>

<body class="body"
  style="margin: 0; background-color: #ffffff; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;">
  <table class="nl-container" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;">
    <tbody>
      <tr>
        <td>
          <table class="row row-1" align="center" width="100%" border="0" cellpadding="0" cellspacing="0"
            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f3f4f6;">
            <tbody>
              <tr>
                <td>
                  <table class="row-content stack" align="center" border="0" cellpadding="0" cellspacing="0"
                    role="presentation"
                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000; width: 600px; margin: 0 auto;"
                    width="600">
                    <tbody>
                      <tr>
                        <td class="column column-1" width="100%"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top;">
                          <table class="image_block block-1" width="100%" border="0" cellpadding="20" cellspacing="0"
                            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tr>
                              <td class="pad">
                                <div class="alignment" align="left">
                                  <div style="max-width: 240px;"><img
                                      src="https://3372dbcd71.imgdist.com/pub/bfra/9oh79uis/3nj/i4p/brj/unnamed%20%283%29.png"
                                      style="display: block; height: auto; border: 0; width: 100%;" width="240" alt
                                      title height="auto"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table class="divider_block block-2" width="100%" border="0" cellpadding="0" cellspacing="0"
                            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tr>
                              <td class="pad">
                                <div class="alignment" align="center">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <tr>
                                      <td class="divider_inner"
                                        style="font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;"><span
                                          style="word-break: break-word;">&#8202;</span></td>
                                    </tr>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table class="paragraph_block block-3" width="100%" border="0" cellpadding="20"
                            cellspacing="0" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
                            <tr>
                              <td class="pad">
                                <div
                                  style="color:#000000;direction:ltr;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0px;line-height:1.2;text-align:left;mso-line-height-alt:19px;">
                                  <p>Hi {{fullName}},</p>
                                  <p>
                                    Thank you for applying to the {{job_title}} position at Infutrix.
                                  </p>
                                  <p>
                                    We've successfully received your application and our hiring team is currently reviewing your profile. If your skills and
                                    experience match our current needs, we'll be in touch shortly with the next steps.
                                  </p>
                                  <p>
                                    In the meantime, feel free to explore more about our culture and projects at <a style="color: #ff6300;"
                                      href="https://infutrix.com/" target="_blank">infutrix.com</a>
                                  </p>
                                  <p>
                                    Best regards,
                                  </p>
                                  <p>
                                    <strong>Infutrix Talent Team</strong><br>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table class="divider_block block-4" width="100%" border="0" cellpadding="0" cellspacing="0"
                            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tr>
                              <td class="pad">
                                <div class="alignment" align="center">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%"
                                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                    <tr>
                                      <td class="divider_inner"
                                        style="font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;"><span
                                          style="word-break: break-word;">&#8202;</span></td>
                                    </tr>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table class="social_block block-5" width="100%" border="0" cellpadding="20" cellspacing="0"
                            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tr>
                              <td class="pad">
                                <div class="alignment" align="center">
                                  <table class="social-table" width="184px" border="0" cellpadding="0" cellspacing="0"
                                    role="presentation"
                                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block;">
                                    <tr>
                                      <td style="padding:0 7px 0 7px;"><a href="https://www.facebook.com/Infutrix/"
                                          target="_blank"><img
                                            src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-black/facebook@2x.png"
                                            width="32" height="auto" alt="facebook" title="facebook"
                                            style="display: block; height: auto; border: 0;"></a></td>
                                      <td style="padding:0 7px 0 7px;"><a href="https://twitter.com/infutrix"
                                          target="_blank"><img
                                            src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-black/twitter@2x.png"
                                            width="32" height="auto" alt="twitter" title="twitter"
                                            style="display: block; height: auto; border: 0;"></a></td>
                                      <td style="padding:0 7px 0 7px;"><a
                                          href="https://in.linkedin.com/company/infutrix" target="_blank"><img
                                            src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-black/linkedin@2x.png"
                                            width="32" height="auto" alt="linkedin" title="linkedin"
                                            style="display: block; height: auto; border: 0;"></a></td>
                                      <td style="padding:0 7px 0 7px;"><a href="https://www.instagram.com/infutrix_/"
                                          target="_blank"><img
                                            src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-dark-black/instagram@2x.png"
                                            width="32" height="auto" alt="instagram" title="instagram"
                                            style="display: block; height: auto; border: 0;"></a></td>
                                    </tr>
                                  </table>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="row row-2" align="center" width="100%" border="0" cellpadding="0" cellspacing="0"
            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f3f4f6;">
            <tbody>
              <tr>
                <td>
                  <table class="row-content" align="center" border="0" cellpadding="0" cellspacing="0"
                    role="presentation"
                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #111827; border-radius: 0; color: #000000; width: 600px; margin: 0 auto;"
                    width="600">
                    <tbody>
                      <tr>
                        <td class="column column-1" width="83.33333333333333%"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 30px; padding-left: 20px; padding-right: 20px; padding-top: 30px; vertical-align: top;">
                          <table class="paragraph_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0"
                            role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;">
                            <tr>
                              <td class="pad" style="padding-bottom:5px;padding-top:5px;">
                                <div
                                  style="color:#d1d5db;direction:ltr;font-family:'Inter','Arial';font-size:14px;font-weight:400;letter-spacing:0px;line-height:1.5;text-align:left;mso-line-height-alt:21px;">
                                  <p style="margin: 0; margin-bottom: 16px;"><strong><a
                                        href="https://infutrix.com/contact" target="_blank" rel="noopener"
                                        style="text-decoration: underline; color: #d1d5db;">Contact Us</a>
                                      <a href="https://infutrix.com/privacy-policy" target="_blank" rel="noopener"
                                        style="text-decoration: underline; color: #d1d5db;">Privacy
                                        Policy</a>
                                      <br><br>This Email Was Sent by:</strong></p>
                                  <p style="margin: 0; margin-bottom: 16px;"><strong>Infutrix Technologies Pvt.
                                      Ltd.<br></strong>4th Floor, E-314, Sector 75, SASN, Punjab - 160055</p>
                                  <p style="margin: 0;"><a href="https://infutrix.com/" target="_blank"
                                      style="text-decoration: underline; color: #d1d5db;"
                                      rel="noopener">www.infutrix.com</a></p>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="column column-2" width="16.666666666666668%"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-right: 20px; padding-top: 30px; vertical-align: top;">
                          <table class="image_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0"
                            role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tr>
                              <td class="pad" style="padding-left:30px;width:100%;">
                                <div class="alignment" align="center">
                                  <div style="max-width: 50px;"><img
                                      src="https://3372dbcd71.imgdist.com/pub/bfra/9oh79uis/yko/ggd/yoe/unnamed%20%284%29.png"
                                      style="display: block; height: auto; border: 0; width: 100%;" width="50" alt title
                                      height="auto"></div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table><!-- End -->
</body>

</html>